.chat_message {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: solid 1px #F5F4F4;
    background-color: #fafaed;
    border-radius: 10px 10px 10px 10px;
}

#chat_panel_content.ui-panel-content.ui-widget-content{
    max-height: 85%;
}

#chat_panel_header.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    background-color: #2AB1E0;
    color: white;
}

.date {
    float: right;
    margin-top: 5px;
}

.chat_user {
    float: left;
    margin-top: 5px;
}

.header_message{
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.text {
    min-height: 65px;
    word-break: break-all;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#sendBtn {
    margin-left: 5%;
    margin-bottom: 2%;
}

.message_input {
    position: relative;
    width: 93.5%;
    height: 7%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

#chatPanel_header{
    background-color: #2ab1e0;
}

.chat_panel{
    height: 90%;
    overflow-y: auto;
}









