.user_data{
    position: relative;
    left: 2%;
    top:5%;
}

.user_data_grid{

}

.user_data_column{
    padding: 15px;
    padding-left: 0 !important;
}

.profile_image{
    width: 100px;
    height: 100px;
    border: solid 1px #DCD2D2;
    border-radius: 10px;
}

.change_picture{
    left: 1.5%;
    position: relative;
}

.user_data_area{
    position: relative;
    margin-top: 2%;
}

.input_file{
    display: none;
}

