.user_data{
    position: relative;
    left: 2%;
}

.user_data_grid{

}

.user_data_column{
    padding: 15px;
}

.profile_image{
    width: 100px;
    height: 100px;
}

.change_picture{
    left: 1.5%;
    position: relative;
}

.user_data_area{
    position: relative;
    margin-top: 2%;
}

.input_file{
    display: none;
}

