.projects_panel{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.project_list{
    height: 100% !important;
    width: 103% !important;
}

.add_project_input{
    width: 100% !important;
}

.add_project_button{
    top: 5px;
    width: 103%;
}

.projects_panel .ui-panel-titlebar {
    color: white;
    background-color: #210808;
}


