.receivedMessages {
    background-image: url(../../images/background_message.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
    width: 100% !important;
    max-width: 100% !important;
}

.myMessages {
    border-radius: 10px;
    width: 100%;
    max-width: 100% !important;
    word-break: break-all;
}

.hour {
    float: right;
    margin-top: -42px;
    font-size: 12px;
}

.user {
    float: left;
}

.headerMessage{
    color: royalblue;
    font-size: 15px;
}

.message {
    text-align: left;
    font-size: 15px;
    color: gray;
}

hr.gray{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

#sendBtn {
    margin-left: 5%;
    margin-bottom: 2%;
}

/* NOVO MODELO APARTIR DAQUI */

#chat {
    max-height: 650px !important;
    height: 650px !important;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    width: 350px !important;
    display: none;
    background-color: #F8F8F8;
    right: 0%;
    top: 0%;
    max-height: 100% !important;
    height: 100% !important;
}

#chatHeader {
    float: right;
    width: 200px;
    height: 70px;
    font-weight: bold;
    background: url(../images/chat_header.png) no-repeat;
}

#chatButton {
    float: left;
    width: 70px;
    height: 70px;
    margin-left: -1%;
}

.chatButtonEnable {
    background: url(../images/chat_button_enable.png) no-repeat;
}

.chatButtonDisable {
    background: url(../images/chat_button_disable.png) no-repeat;
}

/*.messagePanel {*/
    /*color: #534A40;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*max-height: 800px !important;*/
/*}*/

#chatStatus {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #edee83;
    font: 40px 'LeagueGothicRegular';
    line-height: 70px;
    margin-left: 30%;
}

#messageInput {
    width: 85% !important;
    top: 90%;
    position: absolute;
}

.chatPanel{
    height: 100% !important;
    max-height: 90% !important;
    width: 100% !important;
    max-height: 87% !important;
    overflow-y: auto;
}

#chatPanel_header{
    background-color: #2ab1e0;
}






