#chatField {
    background-color: #F8F4F0;
    float: left;
}

#messageInput {
    width: 85% !important;
    margin-bottom: 5px;
    margin-top: 10%;
    margin-left: 5%;
}

#messagePanel {
    align-content: center;
}

#outputMessage {
    font-size: small;
    color: #534A40;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100% !important;
    max-height: 500px !important;
    height: 500px !important;
}

.receivedMessages {
    background-image: url(../../images/background_message.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
    width: 100% !important;
    max-width: 100% !important;
}

.myMessages {
    border-radius: 10px;
    width: 100%;
}

.hour {
    float: right;
    margin-right: 7%;
}

.user {
    font-weight: bold;
    margin-top: -05%;
    float: left;
    margin-left: 7%;

}

.message {
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

.flagReceipt {
    color: deepskyblue;
}

.receivedMessageFlag {
    border-color: skyblue !important;
    border-style: solid;
    border-width: 2px;
}

/*#chat {*/
    /*display: inline-block;*/
    /*resize: none;*/
    /*top: 0 !important;*/
    /*right: 0 !important;*/
    /*resize: none;*/
    /*width: 400px !important;*/
    /*max-width: 400px !important;*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/

#sendBtn {
    margin-left: 5%;
    margin-bottom: 2%;
}

/* NOVO MODELO APARTIR DAQUI */

#chat{
    float: right;
}

#chatHeader{
    float: left;
    width: 140px;
    height: 70px;
    font-weight: bold;
    color: white;
}

#chatButton {
    float: right;
    width: 200px;
    height: 70px;
}

.chatButtonEnable{
    background: url(../images/chat_enable.png) no-repeat;
}


.chatButtonDisable{
    background: url(../images/chat_disable.png) no-repeat;
}




