.color_WAITING {
    background-color: #fbae34;
}

.color_REMOVED {
    background-color: #e0eee0;
}

.color_AVAILABLE {
    background-color: #97ffff;
}

.color_ANALYZED {
    background-color: #6cdc97;
}

.color_IN_ANALYSIS {
    background-color: #98e6b6;
}

.color_FINALIZED {
    background-color: #4a4a4a;
}

.color_OPEN{
    background-color: #b4eeb4;
}

.color_IN_PROGRESS{
    background-color: #fbae34;
}

.color_CLOSE{
    background-color: #e0eee0;
}

.color_FROZEN{
    background-color: #3399ff;
}

.column_status{
    height: 25px;
    width: 25px;
    position: absolute;
    align-content: center;
    margin-top: -12px;
    margin-left: 30px;
}