#myProjects {
    max-height: 650px !important;
    height: 650px !important;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    width: 350px !important;
    background: #f5f5dc;
    display: none;
    right: 0%;
    top: 0%;
    max-height: 100% !important;
    height: 100% !important;
}

.projectsPanel{
    height: 100% !important;
    width: 350px !important;
    max-height: 100% !important;
}

.projectList{
    height: 100% !important;
    width: 300px !important;
    max-height: 100% !important;
}

.addProjectInput{
    width: 289px !important;
}

.addProjectBtn{
    width: 300px !important;
}

#myProjectsPanel_header{
    background-color: black;
}

#myProjectsPanel_header .ui-panel-title{
    color: white;
}



