#headerPage {
    position: relative;
    height: 220px;
    z-index: 10;
}

#bodyPage {
    background-color: whitesmoke;
    overflow-x: hidden;
}

.projectArea {
    width: 300px;
}

#foundedAreas {
    width: 300px;
}

.project {
    width: 650px;
    height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.areas {
    width: 650px;
    height: 600px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

#sheet {
    margin-left: auto;
    margin-right: auto;
    width: 1600px !important;
    min-height: 935px !important;
    background-color: white !important;
    box-shadow: 0px 10px 35px 14px #ccc;
    border: 1px solid #C0C3C5;
}

.removed_area {
    background-color: #f5d3cd;
}

.warning_button {
    background: #f55454 !important;
    color: black !important;
}

.green_button {
    background: #3fe694 !important;
    color: #111111 !important;
}

#backlogArea {
    position: absolute;
    top: 30%;
    left: 15%;
    float: left;
}

.homeButton {
    margin-left: 1% !important;
}

#actionArea {
    float: right;
    position: relative;
    width: 100%;
    top: -64px;
    background-color: rgb(255, 253, 253);
}

.actionButton {
    float: right;
}

.actionImage {
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    box-shadow: 4px 2px 10px 0px #7E7E7E;
    border-radius: 40px;
}

.chatEnable {
    background: url(../images/chat_button_enable.png) no-repeat;
}

.chatEnable {
    background: url(../images/chat_button_disable.png) no-repeat;
}

#receivedMessageFlag {
    margin-left: -40px;
    margin-top: -15px;
    font-size: 300%;
    position: absolute;
    color: #edee83;
    float: right;
}

.storyRemoved {
    color: #dbdbdb;
}

.ui-growl {
    left: 20px;
    position: fixed;
    top: 20px;
}

.project_name {
    font-size: 70px;
    color: #edd021;
    text-shadow: 1px 1px 1px #B8B8B8, 3px 3px 5px white;
    position: relative;
    top: -70px;
    left: 140px;
}

.column_status{
    height: 25px;
    width: 25px;
    position: absolute;
    align-content: center;
    margin-top: -12px;
    margin-left: 30px;
}

.story_backlog {
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.ui-widget, .ui-widget * {
    font-size: 15px !important;
}

.initialLogoArea{
    margin-top: 13%;
    margin-left: 31%;
    height: 500px;
    width: 670px;
}

.initialName{
    margin-top: 5%;
    font-size: 50px;
    color: #edd021;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    text-align: center;
}

.ui-ribbon .ui-colorpicker .ui-button {
    height: 24px;
}

.ui-icon.ui-ribbonicon-new {
    margin-left: -10px;
    margin-top: -20px;
    background-image: url(../images/icons/new.png);
}

.ui-icon.ui-ribbonicon-save {
    background-image: url(../images/icon/save.png);
}

.ui-icon.ui-ribbonicon-paste {
    background-image: url(../images/icon/paste.png);
}

.ui-icon.ui-ribbonicon-cut {
    background-image: url(../images/icon/cut.png);
}

.ui-icon.ui-ribbonicon-print {
    background-image: url(../images/icon/print.png);
}

#wikiPage{
    float: right;
    margin-right: 10px;
}

.files td.name {
    word-break:break-all;
}

.iteration_tool_name{
    text-align: left;
    width: 250px;
    height: 20px;
    margin-top: -3%;
    display: block;
}

.pickListArea{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.ui-picklist-list {
    height:600px !important;
    width:750px !important;
}

#taskTable{
    position: relative;
    top: 45px;
}

.toolbar_whiteboard_form{
    position: relative;
    height: 155px;
}

.toolbar_whiteboard{
    position: relative;
    height: 65px;
    top: -65px;
}

.toolbar{
    height: 32px;
    position: absolute;
    top: 242px;
    width: 1593px;
}

#headerTasks{
    position: relative;
    height: 100px;
    border: 1px solid #ECECEC;
    top: 57px;
}

#headerTasks form{
    position: relative;
    height: 100px;
    top: -50px;
    left: 50px;
}

.tasksArea{
    position: relative;
    top: 15px;
}


/* ------------------- Refatoração ----------------------- */

/* Primefaces Reset */
.ui-widget, .ui-widget * {
    font-size: 13px !important;
}

.standart_font{
    font-size: 13px !important;
}

.minimal_font{
    font-size: 11px !important;
}

.separator{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.color_column_standart{
    width: 70px;
}

.color_column_minimal{
    width: 25px
}

.color_flag_minimal{
    height: 25px;
    width: 25px;
    margin: 0 auto;
}

.color_flag_standart{
    height: 30px;
    width: 30px;
    margin: 0 auto;
}

