#headerPage {
    /*background-image: url(../images/header_blue.png);*/
    height: 225px;
}

#bodyPage {
    background-color: whitesmoke;
}

.backlogDiv {
    margin-left: 10px;
    margin-right: 10px;
}

.projectArea {
    width: 300px;
}

#foundedAreas {
    width: 300px;
}

.project {
    width: 650px;
    height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.areas {
    width: 650px;
    height: 600px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

#sheet {
    margin-left: auto;
    margin-right: auto;
    width: 1600px !important;
    height: 930px !important;
    background-color: white !important;
}

.removed_area {
    background-color: #f5d3cd;
}

.warning_button {
    background: #f55454 !important;
    color: black !important;
}

#backlogArea {
    position: absolute;
    top: 30%;
    left: 15%;
    float: left;
}

.homeButton {
    margin-top: 2% !important;
    margin-left: 1% !important;
}

#actionArea {
    margin-top: -1%;
    margin-left: 1%;
    width: 98%;
    height: 30px;
}

.actionButton {
    float: right;
}

.actionImage {
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
}

.chatEnable {
    background: url(../images/chat_button_enable.png) no-repeat;
}

.chatEnable {
    background: url(../images/chat_button_disable.png) no-repeat;
}

#receivedMessageFlag {
    margin-left: -40px;
    margin-top: -15px;
    font-size: 300%;
    position: absolute;
    color: #edee83;
    float: right;
}

.storyRemoved {
    color: #dbdbdb;
}

.ui-growl {
    left: 20px;
    position: fixed;
    top: 20px;
}

.project_name {
    position: absolute;
    margin-top: 5%;
    font-size: 70px;
    color: #edd021;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.story_REMOVED {
    background-color: #e0eee0;
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.story_WAITING {
    background-color: #fbae34;
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.story_AVAILABLE {
    background-color: #97ffff;
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.story_ANALYZED {
    background-color: #6cdc97;
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.story_IN_ANALYSIS {
    background-color: #98e6b6;
    color: black;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.story_FINALIZED {
    background-color: #4a4a4a;
    color: white;
    height: 35px;
    moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    font-size: 32px;
}

.status_collum_AVAILABLE {
    background-color: #97ffff;
    width: 20px;
    height: 50px;
    display: inline-block;
    margin-left: -10px;
}

.status_collum_IN_ANALYSIS {
    background-color: #98e6b6;
    width: 20px;
    height: 50px;
    display: inline-block;
    margin-left: -10px;
}

.status_collum_ANALYZED {
    background-color: #6cdc97;
    width: 20px;
    height: 50px;
    display: inline-block;
    margin-left: -10px;
}

.status_collum_FINALIZED {
    background-color: #4a4a4a;
    width: 20px;
    height: 50px;
    display: inline-block;
}

.status_collum_WAITING {
    background-color: #fbae34;
    width: 20px;
    height: 50px;
    display: inline-block;
}

.status_collum_REMOVED {
    background-color: #e0eee0;
    width: 20px;
    height: 50px;
    display: inline-block;
}

.ui-widget, .ui-widget * {
    font-size: 15px !important;
}

.loginPanel {
    width: 370px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.initialLogoArea{
    position: absolute;
    top: 25%;
    left: 40%;
}

.initialName{
    position: absolute;
    margin-top: 5%;
    font-size: 50px;
    color: #edd021;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    text-align: center;
}

.ui-ribbon .ui-colorpicker .ui-button {
    height: 24px;
}

.ui-icon.ui-ribbonicon-new {
    margin-left: -10px;
    margin-top: -20px;
    background-image: url(../images/icons/new.png);
}

.ui-icon.ui-ribbonicon-save {
    background-image: url(../images/icon/save.png);
}

.ui-icon.ui-ribbonicon-paste {
    background-image: url(../images/icon/paste.png);
}

.ui-icon.ui-ribbonicon-cut {
    background-image: url(../images/icon/cut.png);
}

.ui-icon.ui-ribbonicon-print {
    background-image: url(../images/icon/print.png);
}

#wikiPage{
    float: right;
    margin-right: 10px;
}

.files td.name {
    word-break:break-all;
}




