#headerPage {
    background-image: url(../images/header_blue.png);
    height: 180px;
}

#bodyPage{
    background-color: #F0F0F0;
}

#myProjects{
    float: right;
}

.backlogDiv{
    margin-left: 10px;
    margin-right: 10px;
}

.projectArea{
    width: 300px;
}

#foundedAreas{
    width: 300px;
}

.project {
    width: 50%;
}

.areas {
    width: 50%;
}
