.stage{
    width: 500px;
    border-left: 1px solid #5d8aa8;
    margin-left: 5px;
    height: 530px !important;
    width: 390px;
    min-width: 390px;
}

.stage:last-child {
    border-right: 1px solid #5d8aa8;
    margin-right: 5px;
}

.stage_header{
    min-height: 30px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 100;
    color: black;
    background-color: rgb(173, 198, 237);
}

.whiteboard{
    background-color: #e0f3f1 !important;
    white-space: nowrap;
    position: absolute;
    margin-top: 10px;
    min-height: 530px;
    border: 1px solid #c5e3db;
}

.whiteboard > div{
    display: table-cell;
}

.message{
    position: relative !important;
    top: 170px !important;
    white-space: normal !important;
    min-width: 1580px;
    min-height: 500px;
    text-align: center;
}

.message span{
    vertical-align: middle;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-transform: uppercase;
    color: #675c5c;
    background-color: #e0f3f1;
}

.ticket{
    width: 350px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    background-image: url(../images/post_it.png);
    background-size: 350px 100px;
    float: left;
}

.task_estimated{
    top: 60px;
    margin-left: 5px;
    position: relative;
    text-align: left;
    border-top: 1px solid #318ce7;
    width: 260px;
}

.task_estimated span{
    margin-left: 5px;
}

.task_code{
    left: 65px;
    position: relative;
    width: 285px;
    text-align: center;
    border-bottom: 1px solid #318ce7;
    top: 10px;
    text-align: left;
}

.task_code span{
    font-weight: bold;
    color: #318ce7;
    top: 5px;
    text-align: left;
}

.task_subject{
    top: -14px;
    width: 290px;
    height: 50px;
    left: 55px;
    position: relative;
    text-align: center;
    display: table;
}

.task_subject span{
    font-size: 13px;
    word-break: break-all;
}

.image_user{
    width: 46px;
    height: 46px;
    margin-top: -80px;
    margin-left: 5px;
    background-image: url(../images/photo.jpg);
}

.task_subject span{
    display: table-cell;
    vertical-align: middle;
}

#whiteboard_update{
    float: right;
    margin-right: 5px;
}

.center_arrow{
    position: absolute;
    height: 46px;
    transform: rotate(90deg);
    top: 380px;
    z-index: 5;
}
