.stage{
    background-color: #cccccc;
    float: left;
    min-height: 100%;
    margin: 6px;
    border-radius: 10px;
    border: 1px solid #8AC007;
    display: table-cell;
}

.stage_header{
    background-color: #ebfde7;
    border-radius: 10px 10px 0px 0px;
    min-height: 30px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 100;
    color: black;
}

.emptyMessage{
    display: table;
    min-height: 65%;
    min-width: 100%;
}

.whiteboard{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}

.emptyMessage span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    color: #675c5c;
    background-color: white;
}

.ticket{
    background-color: #bcf9cb;
    width: 350px;
    height: 100px;
    margin-top: 10px;
}

.task_estimated{
    top: 80px;
    right: 110px;
    position: relative;
}

.task_code{
    left: 235px;
    position: relative;
}

.task_subject{
    top: 40px;
    right: 110px;
    position: relative;
}
